Tysserand:
  Nodes directory: /path/to/your/nodes
  Patient column name: patient
  Sample column name: sample
  Extension: parquet
  X coordinates column: X_position
  Y coordinates column: Y_position
  Phenotype column: Cluster
  Edges method: delaunay
  Min neighbors: 3
  CPU: 20
Assortativity:
  Network directory: Default
  Phenotype column: null
  Patient column name: patient
  Sample column name: sample
  Extension: parquet
  Index: index
  Number of shuffle: 500
  Randomization diagnostic: false
Niche Analysis:
  Network directory: Default
  Saving directory: niche_cluster
  Extension: parquet
  Patient column name: patient
  Sample column name: sample
  Processing method: Aggregated nodes
  Niches method: NAS
  Phenotype column: null
  Column to aggregate: null
  Plot Network: true
  X coordinates column for niches: null
  Y coordinates column for niches: null
  CPU: 20
  Aggregated nodes:
    reducer_type: umap
    dim_clust: 2
    n_neighbors: 20
    metric: manhattan
    min_dist: 0.0
    clusterer_type: gmm
    k_cluster: 20
    n_clusters: 6
    resolution: 0.05
    min_cluster_size: 100
    normalize: all
    order: '1'
    stat_funcs: np.mean,np.std
    stat_names: [mean, std]
  Per sample:
    reducer_type: umap
    dim_clust: 3
    n_neighbors: 20
    metric: cosine
    min_dist: 0.0
    clusterer_type: gmm
    k_cluster: 20
    n_clusters: 7
    resolution: 0.05
    min_cluster_size: 100
    normalize: all
    order: '1'
    stat_funcs: np.mean,np.std
    stat_names: [mean, std]
